[user]
	email = contact@danemasen.com
	name = danemasen
[init]
	defaultBranch = trunk
[alias]
	s = status -sb
	l = log --oneline --decorate --color --graph
	last = log -1 HEAD --stat
[core]
	editor = nvim
	autocrlf = input
[rerere]
	enabled = true
